//
// -------- COLOR SCHEME --------
//


$color-one: #58e1c1;
$color-two: #51ddfc;
$color-three: #e4757a;
$color-four: #fd7856;
$color-five: #927bc1;
$color-base: #777;

$max-width: 1400px;

$min-desk:768px;

$grid-col: 12;
